.promo {
    min-height: 100vh;
    position: relative;
    background: url('../assets/img/background.jpg') no-repeat 50%/cover;
    padding-top: 205px;

    &__title {
        width: 530px;
        margin-top: 9px;
        .letter {
            display: inline-block;
        }
    }

    &__subtitle {
        position: relative;
        @include circle_before;
        padding-left: 10px;
        z-index: 2;
    }

    &__buttons {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
    }

    &__link {
        font-weight: 700;
        color: #000;

        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
}