.promo {
    min-height: 100vh;
    position: relative;
    padding-top: 205px;

    &::after {
        content: "";
        background: url('../assets/img/main_background.jpg') no-repeat 50%/cover;
        opacity: .6;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    &__title {
        width: 530px;
        margin-top: 9px;

        .letter {
            display: inline-block;
        }
    }

    &__subtitle {
        position: relative;
        @include circle_before;
        padding-left: 10px;
        z-index: 2;
    }

    &__buttons {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
    }

    &__link {
        font-weight: 700;
        color: #000;

        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
}